@using Restaurant.Web.ViewModels.Reservation
@model ReservationListViewModel
@{
    this.ViewData["Title"] = SL["MY_RESERVATIONS"];
}

<partial name="_HeroPartial" />

<div class="row g-4 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row">
        @foreach (var reservation in Model.Reservations)
        {
            <div class="col-md-12 col-xl-6 p-5">
                <partial name="_ReservationPartial" model="reservation" />
            </div>
        }
    </div>
</div>

