@using Restaurant.Common
@using Restaurant.Web.ViewModels.InputModels
@model AddReservationInputModel

@{
    this.ViewData["Title"] = "Reservation";
}

<div class="container-xxl py-3 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h6 class="display-3 section-title text-white mb-3 animated slideInDown">Reservation</h6>
    </div>
</div>



<!-- Reservation Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/lcU3pruVyUw" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                <h1 class="text-white mb-4">Book A Table Online</h1>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-white fs-5"></div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="FirstName" class="form-control" placeholder="Your Name">
                                <label asp-for="FirstName">First Name</label>
                                <span asp-validation-for="FirstName" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Your Name">
                                <label asp-for="LastName">Last Name</label>
                                <span asp-validation-for="LastName" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Your Email">
                                <label asp-for="Email">Your Email</label>
                                <span asp-validation-for="Email" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date">
                                <input type="date" asp-for="ReservationDate" class="form-control" placeholder="Choose a date" />
                                <label asp-for="ReservationDate">Choose a date</label>
                                <span asp-validation-for="ReservationDate" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="ReservationTime" class="form-select">
                                    @for (int i = 18; i <= 22; i++)
                                    {
                                        <option value=@i>@i:00</option>
                                    }
                                </select>
                                <label asp-for=ReservationTime>Choose a time</label>
                                <span asp-validation-for="ReservationTime" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="NumberOfPeople" class="form-select">
                                    <option value="2">Two people</option>
                                    <option value="3">Three people</option>
                                    <option value="4">Four people</option>
                                    <option value="5">Five people</option>
                                    <option value="6">Six people</option>
                                </select>
                                <label asp-for=NumberOfPeople>Number of people</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" asp-for="SpecialRequest" placeholder="Special Request" style="height: 100px"></textarea>
                                <label asp-for="SpecialRequest">Special Request</label>
                                <span asp-validation-for="SpecialRequest" class="text-white"></span>

                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->