@using Restaurant.Common
@using Restaurant.Web.ViewModels.Review
@model ReviewListViewModel
@{
    this.ViewData["Title"] = "Home Page";
}



<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5 pb-4">
        <partial name="_CookieConsentPartial" />

        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Hungry?<br>You've come to the right place!</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">From juicy burgers to mouth-watering pizza - we've got it all. All made using only the freshest ingredients from local markets.</p>
                <a class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft" asp-controller="Reservation" asp-action="Book">Book A Table</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="~/images/hero.png" asp-append-version="true">
            </div>
        </div>
    </div>
</div>


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Experienced Chefs</h5>
                        <p>All of our employees have 20+ years of experince in the finest restaurants.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Quality Food</h5>
                        <p>We use only the best ingredients from local markets. An incredible gourmet experience everytime.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Online Orders</h5>
                        <p>Thanks to our logistics team you can enjoy our meals from the comfort of your home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa-solid fa-3x fa-hand-holding-dollar text-primary mb-4"></i>
                        <h5>Fast delivery</h5>
                        <p>Moneyback guarantee if you don't receive you order within 30 minutes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
            <h1 class="mb-5">Customer feedback</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">

            @foreach (var review in Model.Reviews)
            {
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>@review.Summary</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="@review.ImageUrl" style="width: 50px; height: 50px;" asp-append-version="true">
                        <div class="ps-3">
                            <h5 class="mb-1">@review.FullName</h5>

                            @for (int i = 0; i < review.Rating; i++)
                            {
                                <i class="fa fa-star text-primary"></i>
                            }
                            <span>@review.Rating/5</span>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<div class="container-xxl py-lg-2 wow fadeInUp" data-wow-delay="0.1s">
    <div class="col-xl-12">
        <a class="btn btn-primary w-100 py-3" asp-controller="Review" asp-action="Add">Leave a review</a>
    </div>
</div>

<!-- Testimonial End -->
