@{
    this.ViewData["Title"] = "Privacy Policy";
}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>

