@using Restaurant.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <partial name="_StylesPartial" />
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <partial name="_NavigationPartial" />

    <div class="container p-0 bg-white shadow-lg">
        <main role="main">
            @this.RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />
    <partial name="_ScriptsPartial" />
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
