@{
    this.ViewData["Title"] = "Oh no!";
}

<partial name="_HeroPartial" />

<div class="text-center">
    <h1 class="text-primary">Oops...</h1>
    <img src="~/images/not-found.jpg" style="width:600px;" />
    <h3 class="fw-bold mt-3">We can't seem to find what you're looking for.</h3>
</div>
