@using Restaurant.Common
@using Restaurant.Web.ViewModels.Review
@model ReviewListViewModel

@{
    this.ViewData["Title"] = "All reviews";
}

<div class="container-xxl py-1 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <p class="display-3 section-title text-white mb-3 animated slideInDown">We leave the customers do the talking.</p>

    </div>
</div>

<!-- To do: Improve UI - add bootstrap card class. -->

<div class="row g-4">
    <div class="text-center">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
        <h1 class="mb-5">Customer feedback</h1>
    </div>

    @foreach (var review in Model.Reviews)
    {
        <div class="col-lg-6">
            <div class="testimonial-item bg-transparent border border-secondary border-5 rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <h2>@review.Description</h2>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/img/testimonial-3.jpg" asp-append-version="true" yle="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <p class="mb-1">@review.FullName</p>
                        @for (int i = 0; i < review.Rating; i++)
                        {
                            <i class="fa fa-star text-primary fs-3"></i>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>