@using Restaurant.Common
@using Restaurant.Web.ViewModels.InputModels

@{
    this.ViewData["Title"] = "All reviews";
}

<div class="container-xxl py-3 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
    </div>
</div>