@using Restaurant.Common
@using Restaurant.Web.ViewModels.InputModels

@{
    this.ViewData["Title"] = "Success";
}

<div class="container-xxl py-3 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h6 class="display-3 section-title text-white mb-3 animated slideInDown">Thank you, your feedback is important!</h6>
    </div>
</div>