@using Restaurant.Web.ViewModels.InputModels
@model EditReservationInputModel

@{
    this.ViewData["Title"] = "Edit";
}

<partial name="_HeroPartial" />

<hr />

<div class="wow fadeInUp" data-wow-delay="0.2s">
    <form method="post" class="col-md-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for=ReservationTime></label>
            <select asp-for="ReservationTime" class="form-select">
                @for (int i = 18; i <= 22; i++)
                {
                    <option value=@i>@i:00</option>
                }
            </select>
            <span asp-validation-for="ReservationTime" class="text-white"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReservationDate"></label>
            <input type="date" asp-for="ReservationDate" class="form-control" />
            <span asp-validation-for="ReservationDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for=NumberOfPeople></label>
            <select asp-for="NumberOfPeople" class="form-select">
                <option value="2">Two people</option>
                <option value="3">Three people</option>
                <option value="4">Four people</option>
                <option value="5">Five people</option>
                <option value="6">Six people</option>
            </select>
            <span asp-validation-for="NumberOfPeople" class="text-white"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <input hidden asp-for="Id" />
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100 col-md-12 mt-3" type="submit"><i class="fa-solid fa-check"></i> Save changes</button>
            <a class="btn btn-primary w-100 col-md-12 mt-3" asp-action="Index" asp-route-id="@(this.TempData["RouteId"] ?? 1)"><i class="fa-solid fa-bars"></i> Back to List</a>
        </div>
    </form>
    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="Id" />
    </form>
    <form asp-action="Restore" id="restoreForm">
        <input type="hidden" asp-for="Id" />
    </form>
    <button class="btn btn-secondary col-md-6 offset-md-3 mt-3" onclick="restoreForm.submit()"><i class="fa-solid fa-trash-arrow-up"></i> Restore</button>
    <button value="Delete" class="btn btn-dark col-md-6 offset-md-3 mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-trash-can"></i> Delete</button>

</div>



<!-- Modal -->
<partial name="_ModalPartial" />

