@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<partial name="_HeroPartial"/>

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
