@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container-xxl py-1 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
    </div>
</div>

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

