@using Restaurant.Common
@using Restaurant.Web.ViewModels.Address
@model AddressViewModel
@{
    this.ViewData["Title"] = "Your addresses";
}

<partial name="_HeroPartial" />
<div class="bg-white">

    <hr style="color: black; height:3px; opacity:100; margin-bottom:30px;" />
    <div class="row g-3">
        <div class="col-md-3 text-center offset-xl-1">
            <h3>Your addresses</h3>
            <ul class="nav nav-pills flex-column" id="addressNames">
                @if (Model is not null)
                {
                    @foreach (var addressName in Model.AddressNames)
                    {
                        <li class="nav-item text-center"><a class="nav-link text-body @if (Model.Name == addressName) { <text>active</text> }" asp-area="" asp-controller="Address" asp-action="All" asp-route-id="@addressName">@addressName</a></li>
                    }
                }
            </ul>
            <a class="btn btn-primary mt-xl-3 col-xl-12 text-white" asp-controller="Address" asp-action="Add"><i class="fa-solid fa-plus"></i> Add a new address</a>
        </div>
        <div class="col-md-6 offset-xl-1 ">
            @if (Model is null)
            {
                <h1>You don't have any addresses yet!</h1>
            }
            else
            {
                <form class="row g-3" method="post" id="addressForm" asp-action="Delete">
                    <partial name="_AddressViewPartial" model="Model" />
                    <button type="submit" class="btn btn-primary m-2" asp-action="AllAddresses"><i class="fa-solid fa-check"></i> Save changes</button>
                    <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-trash"></i> Delete</button>
                </form>
            }
        </div>
    </div>

    <hr style="color: black; height:3px; opacity:100" />
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to delete this address?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" asp-action="Delete" class="btn btn-danger" onclick="addressForm.submit()">Delete</button>
            </div>
        </div>
    </div>
</div>




