@using Restaurant.Common
@using Restaurant.Web.ViewModels.Address
@model AddressViewModel
@{
    this.ViewData["Title"] = "Your addresses";
}

<partial name="_HeroPartial" />
<div class="bg-white">

    <hr style="color: black; height:3px; opacity:100; margin-bottom:30px;" />
    <div class="row g-3">
        <div class="col-md-3 text-center offset-xl-1">
            <h3>Your addresses</h3>
            <ul class="nav nav-pills flex-column" id="addressNames">
                @if (Model is not null)
                {
                    @foreach (var addressName in Model.AddressNames)
                    {
                        <li class="nav-item text-center"><a class="nav-link text-body @if (Model.Name == addressName) { <text>active</text> }" asp-area="" asp-controller="Address" asp-action="All" asp-route-id="@addressName">@addressName</a></li>
                    }
                }
            </ul>
            <a class="btn btn-primary mt-xl-3 col-xl-12 text-white" asp-controller="Address" asp-action="Add"><i class="fa-solid fa-plus"></i> Add a new address</a>
        </div>
        <div class="col-md-6 offset-xl-1 ">
            @if (Model is null)
            {
                <h1>You don't have any addresses yet!</h1>
            }
            else
            {
                <form class="row g-3" method="post">
                    <partial name="_AddressViewPartial" model="Model" />
                    <button type="submit" id="editAddressButton" class="btn btn-primary m-2"><i class="fa-solid fa-check"></i> Save changes</button>
                    <button class="btn btn-primary m-2" asp-action="Delete"><i class="fa-solid fa-trash"></i> Delete</button>
                </form>
            }
        </div>
    </div>

    <hr style="color: black; height:3px; opacity:100" />
</div>



